.courses-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    columns:5;
}
.course{
    width: 300px;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid gray;
    padding:20px
}
.cardDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.course-price{
    font-style: italic;
    color: red;
}
.course-delete{
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    background-color: rebeccapurple;
    color: white;
    font-size: 16px;
    border: none;
}
